DISCORD_TOKEN=
FINNHUB_TOKEN=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

WATCHLIST=AAPL,MSFT,NVDA
CRYPTO_IDS=bitcoin,ethereum,solana

CHANNEL_CRYPTO=
CHANNEL_STOCK=
CHANNEL_NEWS=

RUN_ON_START=true
